<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
<!--      <ion-menu-button></ion-menu-button>-->
      <ion-back-button color="danger"></ion-back-button>
    </ion-buttons>
    <ion-title>Program Check</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<!--  program-->

  <ion-list>
<!--    <ion-list-header>-->
<!--      <ion-header>Search a program</ion-header>-->
<!--    </ion-list-header>-->
    <ion-header>
      <ion-toolbar>
        <ion-title>Search a program</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-searchbar placeholder="Type a program" [(ngModel)]="programName" (ionInput)="handleInput($event)" ></ion-searchbar>
    <ion-item *ngFor="let program of display" (click)="selectProgram(program)" >
      {{program.name}}&nbsp;-&nbsp;{{program.university}}&nbsp;(&nbsp;{{ program.college.replace("_"," ") }},&nbsp;{{ program.time }}&nbsp;class)
    </ion-item>
  </ion-list>

<!--  gender-->
  <ion-list>

    <ion-radio-group value="FEMALE"  [(ngModel)]="gender" >
<!--      <ion-list-header>-->
<!--        <ion-header>Gender</ion-header>-->
<!--      </ion-list-header>-->
      <ion-header>
        <ion-toolbar>
          <ion-title>GENDER</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-item>
        <ion-label>Female</ion-label>
        <ion-radio slot="start" value="FEMALE"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Male</ion-label>
        <ion-radio slot="start" value="MALE"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

<!--  admission type-->
  <ion-list>
    <ion-radio-group value="PRIVATE" [(ngModel)]="admissionType">
<!--      <ion-list-header>-->
<!--        <ion-label>Admission Type</ion-label>-->
<!--      </ion-list-header>-->

      <ion-header>
        <ion-toolbar>
          <ion-title>ADMISSION TYPE</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-item>
        <ion-label>Private</ion-label>
        <ion-radio slot="start" value="PRIVATE"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Public/Government</ion-label>
        <ion-radio slot="start" value="PUBLIC"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

<!--  uce results-->
  <app-uce></app-uce>

<!--  uace results-->
  <app-uace></app-uace>

<!--  submit-->
  <ion-button expand="block" fill="outline" (click)="submit()" >SUBMIT</ion-button>

<!--  <ion-app>-->
<!--    <ion-content>-->

<!--      <button class="ion-activatable ripple-parent">-->
<!--        Submit-->
<!--        <ion-ripple-effect></ion-ripple-effect>-->
<!--      </button>-->

<!--      <button class="ion-activatable ripple-parent">-->
<!--        Submit-->
<!--        <ion-ripple-effect type="unbounded"></ion-ripple-effect>-->
<!--      </button>-->
<!--    </ion-content>-->
<!--  </ion-app>-->
</ion-content>
