<ion-header>
  <ion-toolbar>
    <ion-title>Program Details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Back</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-item>
<ion-label>{{ program.code }}</ion-label>
</ion-item>
  <ion-item>
    <ion-label>{{ program.name }}</ion-label>
  </ion-item>
<ion-item>
<ion-label>{{ program.college }}</ion-label>
</ion-item>
<ion-item>
<ion-label>{{ program.description }}</ion-label>
</ion-item>
<ion-item>
<ion-label>{{ program.duration }}</ion-label>
</ion-item>
<ion-item>
<ion-label>{{ program.time }}</ion-label>
</ion-item>

  <ion-button expand="block" fill="outline" (click)="findCombinations()" >Find recommended combinations</ion-button>

</ion-content>
