<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="danger"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="programDetails !== null">{{ programDetails.program.name }}</ion-title>
    <ion-title *ngIf="programDetails === null" >
      <ion-skeleton-text animated style="width: 50%" ></ion-skeleton-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="programDetails !== null" >

  <ion-list>

    <ion-header>
      <ion-toolbar>
        <ion-title>Program Details</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-grid >

      <ion-row class="ion-align-items-center">

        <ion-col size="3" >
          <ion-item>
            <ion-label>Code</ion-label>
          </ion-item>
        </ion-col>

        <ion-col size="9">
          <ion-item>
            <ion-label>{{ programDetails.program.code }}</ion-label>
          </ion-item>
        </ion-col>

      </ion-row>

      <ion-row class="ion-align-items-center">

        <ion-col size="3" >
          <ion-item>
            <ion-label>University</ion-label>
          </ion-item>
        </ion-col>

        <ion-col size="9">
          <ion-item>
            <ion-label>{{ programDetails.program.university }}</ion-label>
          </ion-item>
        </ion-col>

      </ion-row>

      <ion-row class="ion-align-items-center">

        <ion-col size="3" >
          <ion-item>
            <ion-label>Name</ion-label>
          </ion-item>
        </ion-col>

        <ion-col size="9">
          <ion-item>
            <ion-label>{{ programDetails.program.name }}</ion-label>
          </ion-item>
        </ion-col>

      </ion-row>

      <ion-row class="ion-align-items-center">

        <ion-col size="3" >
          <ion-item>
            <ion-label>College</ion-label>
          </ion-item>
        </ion-col>

        <ion-col size="9">
          <ion-item>
            <ion-label>{{ programDetails.program.college }}</ion-label>
          </ion-item>
        </ion-col>

      </ion-row>

      <ion-row class="ion-align-items-center">

        <ion-col size="3" >
          <ion-item>
            <ion-label>Description</ion-label>
          </ion-item>
        </ion-col>

        <ion-col size="9">
          <ion-item>
            <ion-label>{{ programDetails.program.description }}</ion-label>
          </ion-item>
        </ion-col>

      </ion-row>

      <ion-row class="ion-align-items-center">

        <ion-col size="3" >
          <ion-item>
            <ion-label>Duration</ion-label>
          </ion-item>
        </ion-col>

        <ion-col size="9">
          <ion-item>
            <ion-label>{{ programDetails.program.duration }}</ion-label>
          </ion-item>
        </ion-col>

      </ion-row>

      <ion-row class="ion-align-items-center">

        <ion-col size="3" >
          <ion-item>
            <ion-label>Time</ion-label>
          </ion-item>
        </ion-col>

        <ion-col size="9" >
          <ion-item>
            <ion-label>{{ programDetails.program.time }}</ion-label>
          </ion-item>
        </ion-col>

      </ion-row>

    </ion-grid>
  </ion-list>

  <ion-list *ngIf="programDetails.program_constraints.length > 0" >

    <ion-header>
      <ion-toolbar>
        <ion-title>Program Subjects</ion-title>
      </ion-toolbar>
    </ion-header>

<!--    <ion-item lines="None">-->
<!--      <ion-label>Number of required essential subjects : {{ programDetails.program_constraints[0].essentials }}</ion-label>-->
<!--      <ion-label>Number of required relevant subjects : {{ programDetails.program_constraints[0].relevant }}</ion-label>-->
<!--    </ion-item>-->

    <ion-grid >
      <ion-row class="ion-align-items-center">

        <ion-col size="6" >
          <ion-item>
            <ion-label>Subject</ion-label>
          </ion-item>
        </ion-col>

        <ion-col size="3"  >
          <ion-item>
            <ion-label>Category</ion-label>
          </ion-item>
        </ion-col>

        <ion-col size="3" >
          <ion-item>
            <ion-label>Compulsory</ion-label>
          </ion-item>
        </ion-col>

      </ion-row>
      <ion-row class="ion-align-items-center" *ngFor="let subject of programDetails.program_subjects">

        <ion-col size="6" >
          <ion-item>
            <ion-label>{{subject.subject | subjectCode | titlecase}}</ion-label>
          </ion-item>
        </ion-col>

        <ion-col size="3"  >
          <ion-item>
            <ion-label>{{subject.category.toString() | titlecase }}</ion-label>
          </ion-item>
        </ion-col>

        <ion-col size="3" >
          <ion-item>
            <ion-label>{{subject.compulsory_state + '' | titlecase}}</ion-label>
          </ion-item>
        </ion-col>

      </ion-row>
    </ion-grid>


  </ion-list>

  <ion-list *ngIf="programDetails.cut_off_points.length > 0" >

    <ion-header>
      <ion-toolbar>
        <ion-title>Cut Off Points</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-grid >
      <ion-row class="ion-align-items-center">

        <ion-col size="3" >
          <ion-item>
            <ion-label>Year</ion-label>
          </ion-item>
        </ion-col>

        <ion-col size="3"  >
          <ion-item>
            <ion-label>Points</ion-label>
          </ion-item>
        </ion-col>

        <ion-col size="3" >
          <ion-item>
            <ion-label>Admission Type</ion-label>
          </ion-item>
        </ion-col>

        <ion-col size="3" >
          <ion-item>
            <ion-label>Gender</ion-label>
          </ion-item>
        </ion-col>

      </ion-row>
      <ion-row class="ion-align-items-center" *ngFor="let cutoff of programDetails.cut_off_points">

        <ion-col size="3" >
          <ion-item>
            <ion-label>{{cutoff.year}}</ion-label>
          </ion-item>
        </ion-col>

        <ion-col size="3"  >
          <ion-item>
            <ion-label>{{cutoff.points}}</ion-label>
          </ion-item>
        </ion-col>

        <ion-col size="3" >
          <ion-item>
            <ion-label>{{cutoff.type | titlecase}}</ion-label>
          </ion-item>
        </ion-col>

        <ion-col size="3"  >
          <ion-item>
            <ion-label>{{cutoff.gender | titlecase}}</ion-label>
          </ion-item>
        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-list>

  <ion-list *ngIf="programDetails.a_level_constraints.length > 0" >

    <ion-header>
      <ion-toolbar>
        <ion-title>A level Constraints</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-grid >
      <ion-row class="ion-align-items-center">

        <ion-col size="8" >
          <ion-item>
            <ion-label>Subject</ion-label>
          </ion-item>
        </ion-col>

        <ion-col size="4"  >
          <ion-item>
            <ion-label>Minimum Grade</ion-label>
          </ion-item>
        </ion-col>


      </ion-row>
      <ion-row class="ion-align-items-center" *ngFor="let subject of programDetails.a_level_constraints">
        <ion-col size="8" >
          <ion-item>
            <ion-label>{{subject.subject | subjectCode | titlecase }}</ion-label>
          </ion-item>
        </ion-col>

        <ion-col size="4"  >
          <ion-item>
            <ion-label>{{subject.minimum_grade}}</ion-label>
          </ion-item>
        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-list>

  <ion-list *ngIf="programDetails.o_level_constraints.length > 0" >

    <ion-header>
      <ion-toolbar>
        <ion-title>O level Constraints</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-grid >
      <ion-row class="ion-align-items-center">

        <ion-col size="8" >
          <ion-item>
            <ion-label>Subject</ion-label>
          </ion-item>
        </ion-col>

        <ion-col size="4"  >
          <ion-item>
            <ion-label>Maximum Grade</ion-label>
          </ion-item>
        </ion-col>


      </ion-row>
      <ion-row class="ion-align-items-center" *ngFor="let subject of programDetails.o_level_constraints">

        <ion-col size="8" >
          <ion-item>
            <ion-label>{{subject.subject | uce | titlecase}}</ion-label>
          </ion-item>
        </ion-col>

        <ion-col size="4"  >
          <ion-item>
            <ion-label>{{subject.maximum_grade}}</ion-label>
          </ion-item>
        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-list>

  <ion-button expand="block" fill="outline" (click)="loadCombinations()" >
    Find recommended combinations
  </ion-button>

</ion-content>

<ion-content  *ngIf="programDetails === null" >

  <ion-list>

    <ion-grid >

      <ion-row class="ion-align-items-center">

        <ion-col size="3" >
          <ion-item>
            <ion-label>Code</ion-label>
          </ion-item>
        </ion-col>

        <ion-col size="9">
          <ion-item>
            <ion-skeleton-text animated style="width: 20%" ></ion-skeleton-text>
          </ion-item>
        </ion-col>

      </ion-row>

      <ion-row class="ion-align-items-center">

        <ion-col size="3" >
          <ion-item>
            <ion-label>University</ion-label>
          </ion-item>
        </ion-col>

        <ion-col size="9">
          <ion-item>
            <ion-skeleton-text animated style="width: 60%" ></ion-skeleton-text>
          </ion-item>
        </ion-col>

      </ion-row>

      <ion-row class="ion-align-items-center">

        <ion-col size="3" >
          <ion-item>
            <ion-label>Name</ion-label>
          </ion-item>
        </ion-col>

        <ion-col size="9">
          <ion-item>
            <ion-skeleton-text animated style="width: 40%" ></ion-skeleton-text>
          </ion-item>
        </ion-col>

      </ion-row>

      <ion-row class="ion-align-items-center">

        <ion-col size="3" >
          <ion-item>
            <ion-label>College</ion-label>
          </ion-item>
        </ion-col>

        <ion-col size="9">
          <ion-item>
            <ion-skeleton-text animated style="width: 50%" ></ion-skeleton-text>
          </ion-item>
        </ion-col>

      </ion-row>

      <ion-row class="ion-align-items-center">

        <ion-col size="3" >
          <ion-item>
            <ion-label>Description</ion-label>
          </ion-item>
        </ion-col>

        <ion-col size="9">
          <ion-item>
            <ion-skeleton-text animated style="width: 80%" ></ion-skeleton-text>
          </ion-item>
        </ion-col>

      </ion-row>

      <ion-row class="ion-align-items-center">

        <ion-col size="3" >
          <ion-item>
            <ion-label>Duration</ion-label>
          </ion-item>
        </ion-col>

        <ion-col size="9">
          <ion-item>
            <ion-skeleton-text animated style="width: 20%" ></ion-skeleton-text>
          </ion-item>
        </ion-col>

      </ion-row>

      <ion-row class="ion-align-items-center">

        <ion-col size="3" >
          <ion-item>
            <ion-label>Time</ion-label>
          </ion-item>
        </ion-col>

        <ion-col size="9" >
          <ion-item>
            <ion-skeleton-text animated style="width: 20%" ></ion-skeleton-text>
          </ion-item>
        </ion-col>

      </ion-row>

    </ion-grid>
  </ion-list>

</ion-content>
