<ion-header>
  <ion-toolbar>
    <ion-title>UACE RESULTS</ion-title>
  </ion-toolbar>
</ion-header>
<ion-grid>
  <ion-row>

    <ion-col>

<!--      compulsory subjects-->
      <ion-list>
        <ion-list-header>
          <ion-header>Compulsory</ion-header>
        </ion-list-header>

        <ion-grid >
          <ion-row class="ion-align-items-center">

            <ion-col size="9" >
              <ion-item>
                <ion-label>Subject</ion-label>
              </ion-item>
            </ion-col>

            <ion-col size="3"  >
              <ion-item>
                <ion-label>Grade</ion-label>
              </ion-item>
            </ion-col>

          </ion-row>
          <ion-row class="ion-align-items-center" *ngFor="let subject of uaceCompulsory">

            <ion-col size="9" >
              <ion-item>
                <ion-label>{{subject.name}}</ion-label>
              </ion-item>
            </ion-col>

            <ion-col size="3" >
                <ion-select (ionChange)="updateGrade($event, subject.code, false)" >
                  <ion-select-option *ngFor="let x of uceGrades" [value]="x.value" >{{x.name}}</ion-select-option>
                </ion-select>
            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-list>

<!--      subsidiaries-->
      <ion-list>
        <ion-list-header>
          <ion-header>Subsidiary Subject</ion-header>
        </ion-list-header>

        <ion-grid >
          <ion-row class="ion-align-items-center">

            <ion-col size="9" >
              <ion-item>
                <ion-label>Subject</ion-label>
              </ion-item>
            </ion-col>


            <ion-col size="3"  >
              <ion-item>
                <ion-label>Grade</ion-label>
              </ion-item>
            </ion-col>

          </ion-row>
          <ion-row class="ion-align-items-center">

            <ion-col size="9" >
              <ion-select [(ngModel)]="selectedSubsidiary.code" placeholder="Select subject" okText="Select" cancelText="Dismiss">
                <ion-select-option *ngFor="let subject of uaceSubsidiaries" value="{{subject.code}}" >{{subject.name}}</ion-select-option>
              </ion-select>
            </ion-col>

            <ion-col size="3"  >
              <ion-select (ionChange)="updateGrade($event, selectedSubsidiary.code, true)" >
                <ion-select-option *ngFor="let x of uceGrades" [value]="x.value" >{{x.name}}</ion-select-option>
              </ion-select>
            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-list>

    </ion-col>

    <ion-col>

      <ion-list>
        <ion-list-header>
          <ion-header>Principal Subjects</ion-header>
          <ion-button color="success"
                  (click)="addElective()">Add Principal Subjects</ion-button>
        </ion-list-header>

        <ion-grid >
          <ion-row class="ion-align-items-center">

            <ion-col size="6" >
              <ion-item>
                <ion-label>Subject</ion-label>
              </ion-item>
            </ion-col>

            <ion-col size="3"   >
              <ion-item>
                <ion-label>Grade</ion-label>
              </ion-item>
            </ion-col>

            <ion-col size="3"  >
              <ion-item>
                <ion-label>Delete</ion-label>
              </ion-item>
            </ion-col>

          </ion-row>
          <ion-row class="ion-align-items-center" *ngFor="let elective of selectedElectives; index as i">

            <ion-col size="6" >
              <ion-item>
                <ion-label>{{elective.code}}</ion-label>
              </ion-item>
            </ion-col>

            <ion-col size="3"  >
              <ion-item>
                <ion-label>{{elective.value}}</ion-label>
              </ion-item>
            </ion-col>

            <ion-col size="3"  >
              <ion-item>
<!--                <ion-button color="danger"-->
<!--                            (click)="removeElective(elective.code)" >-->
<!--                  <ion-icon name="close-circle-outline"></ion-icon>-->
<!--                  -->
<!--                </ion-button>-->

                <ion-chip color="danger"  (click)="removeElective(elective.code)"  >
                  <ion-icon name="close-circle"></ion-icon>
                </ion-chip>

              </ion-item>
            </ion-col>


          </ion-row>
        </ion-grid>
      </ion-list>



    </ion-col>

  </ion-row>
</ion-grid>
