<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Get Recommendation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating" >Select a recommendation</ion-label>
    <ion-select [(ngModel)]="recommendation" (ionChange)="loadRecommendation()" >
      <ion-select-option *ngFor="let x of recommendations" [value]="x.value" >{{x.name}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Enter Career</ion-label>
    <ion-input></ion-input>
  </ion-item>


  <ion-item>
    <ion-grid >
      <ion-label>Enter UCE Results</ion-label>
      <ion-row class="ion-align-items-left" *ngFor="let subject of uceCompulsorySubjects$ | async" >

        <ion-col size="7" >
          <ion-input readonly="true" >{{ subject.name }}</ion-input>
        </ion-col>

        <ion-col>
          <ion-select >
            <ion-select-option *ngFor="let grade of uceGrades$ | async">{{grade.name}}</ion-select-option>
          </ion-select>
        </ion-col>

      </ion-row>

      <ion-item-divider></ion-item-divider>

      <ion-row class="ion-align-items-left">

        <ion-col size="7">
          <ion-select placeholder="Elective" okText="Okay" cancelText="Dismiss">
            <ion-select-option  *ngFor="let subject of uceElectiveSubjects$ | async" >{{subject.name}}</ion-select-option>
          </ion-select>
        </ion-col>

        <ion-col>
          <ion-select>
            <ion-select-option *ngFor="let grade of uceGrades$ | async">{{grade.name}}</ion-select-option>
          </ion-select>
        </ion-col>

      </ion-row>

    </ion-grid>
  </ion-item>

  <ion-grid >
    <ion-label>Enter UACE Results</ion-label>
    <ion-row class="ion-align-items-center" *ngFor="let subject of uaceSubjects$ | async" >

      <ion-col>
        <ion-input>{{ subject.name }}</ion-input>
      </ion-col>

      <ion-col>
        <ion-select>
          <ion-select-option *ngFor="let grade of uaceGrades$ | async">{{grade.name}}</ion-select-option>
        </ion-select>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-button (click)="getRecommendation()" >Submit</ion-button>

</ion-content>
