<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Get Recommendation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating" >Select a recommendation</ion-label>
    <ion-select [(ngModel)]="recommendation" (ionChange)="loadRecommendation()" #status >
      <ion-select-option *ngFor="let x of recommendations" [value]="x.value" >{{x.name}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Enter Career</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-grid>
    <ion-label>Careers</ion-label>
    <ion-row class="ion-align-items-center" *ngFor="let subject of careers$ | async" >

      <ion-col>
        <ion-input>{{ subject.name }}</ion-input>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="recommendation.value.toUpperCase() === 'UCE'" >
    <ion-label>Enter UCE Results</ion-label>
    <ion-row class="ion-align-items-center" *ngFor="let subject of uceCompulsorySubjects$ | async" >

      <ion-col>
        <ion-input>{{ subject.name }}</ion-input>
      </ion-col>

      <ion-col>
        <ion-select>
          <ion-select-option *ngFor="let grade of uceGrades$ | async">{{grade.name}}</ion-select-option>
        </ion-select>
      </ion-col>

    </ion-row>
    <ion-row class="ion-align-items-center" *ngFor="let subject of uceElectiveSubjects$ | async" >

      <ion-col>
        <ion-input>{{ subject.name }}</ion-input>
      </ion-col>

      <ion-col>
        <ion-select>
          <ion-select-option *ngFor="let grade of uceGrades$ | async">{{grade.name}}</ion-select-option>
        </ion-select>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="recommendation.value.toUpperCase() === 'UACE'" >
    <ion-label>Enter UACE Results</ion-label>
    <ion-row class="ion-align-items-center" *ngFor="let subject of uaceSubjects$ | async" >

      <ion-col>
        <ion-input>{{ subject.name }}</ion-input>
      </ion-col>

      <ion-col>
        <ion-select [compareWith]="compareWith">
          <ion-select-option *ngFor="let grade of uaceGrades$ | async">{{grade.name}}</ion-select-option>
        </ion-select>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-button (click)="getRecommendation()" >Submit</ion-button>

</ion-content>
