<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
<!--      <ion-menu-button></ion-menu-button>-->
      <ion-back-button color="danger"></ion-back-button>
    </ion-buttons>
    <ion-title>Recommendation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<!--  <ion-item>-->
<!--    <ion-label position="floating" >Select a recommendation</ion-label>-->
<!--    <ion-select [(ngModel)]="recommendation" (ionChange)="loadRecommendation()" >-->
<!--      <ion-select-option *ngFor="let x of recommendations" [value]="x.value" >{{x.name}}</ion-select-option>-->
<!--    </ion-select>-->
<!--  </ion-item>-->

  <!--  Select Recommendation-->
  <ion-list>

    <ion-radio-group (ionChange)="recommendationChanged('recommendation')"  [(ngModel)]="recommendation" >

      <ion-list-header>
        <ion-label>Select a recommendation</ion-label>
      </ion-list-header>

      <ion-item *ngFor="let recommendation of recommendations" >
        <ion-label>{{ recommendation.name }}</ion-label>
        <ion-radio slot="start" value="{{recommendation.value}}"></ion-radio>
      </ion-item>

    </ion-radio-group>
  </ion-list>

<!--  what to include-->
  <ion-list>
    <ion-item >
      <ion-label>Include my results</ion-label>
      <ion-checkbox (ionChange)="recommendationChanged('include')"  slot="end" [(ngModel)]="includeResults"></ion-checkbox>
    </ion-item>
  </ion-list>

  <!--  Enter career-->
  <ion-list>
    <ion-list-header>
      <ion-label>Search a career</ion-label>
    </ion-list-header>
    <ion-searchbar placeholder="Career" [(ngModel)]="career" (ionInput)="handleInput($event)" ></ion-searchbar>
    <ion-item *ngFor="let career of display" (click)="selectCareer(career)" >
      {{career.name}}
    </ion-item>
  </ion-list>

  <!--  gender-->
  <ion-list *ngIf="includeUaceResults && includeResults" >

    <ion-radio-group value="FEMALE"  [(ngModel)]="gender" >
      <ion-list-header>
        <ion-label>Gender</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Female</ion-label>
        <ion-radio slot="start" value="FEMALE"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Male</ion-label>
        <ion-radio slot="start" value="MALE"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <!--  admission type-->
  <ion-list *ngIf="includeUaceResults && includeResults" >
    <ion-radio-group value="PRIVATE" [(ngModel)]="admissionType">
      <ion-list-header>
        <ion-label>Admission Type</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Private</ion-label>
        <ion-radio slot="start" value="PRIVATE"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Public/Government</ion-label>
        <ion-radio slot="start" value="PUBLIC"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <!--  uce results-->
  <app-uce *ngIf="includeUceResults && includeResults" ></app-uce>

  <!--  uace results-->
  <app-uace *ngIf="includeUaceResults && includeResults" ></app-uace>


<!--  <ion-button (click)="getRecommendation()" >Submit</ion-button>-->

  <!--  submit-->
  <ion-button expand="block" fill="outline" (click)="submit()" >SUBMIT</ion-button>

</ion-content>

<!--<ion-row class="ion-align-items-left"  >-->

<!--  <ion-col size=8>-->
<!--    <ion-select #elective1 (ionChange)="uaceChanged('subject.code', $event)" placeholder="Select elective" okText="Okay" cancelText="Dismiss">-->
<!--      <ion-select-option  *ngFor="let subject of uceElectiveSubjects$ | async" >{{subject.name}}</ion-select-option>-->
<!--    </ion-select>-->
<!--  </ion-col>-->

<!--  <ion-col size=2>-->
<!--    <ion-select (ionChange)="uaceChanged(elective1.value, $event)">-->
<!--      <ion-select-option *ngFor="let grade of uceGrades$ | async">{{grade.name}}</ion-select-option>-->
<!--    </ion-select>-->
<!--  </ion-col>-->

<!--  <ion-col size=2>-->
<!--    <ion-item>-->
<!--      <ion-icon [ios]="'library-outline'" [md]="'library-sharp'"></ion-icon>-->
<!--    </ion-item>-->
<!--  </ion-col>-->

<!--</ion-row>-->
