<ion-header>
  <ion-toolbar>
    <ion-title>Add Subject</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item *ngIf="category.toUpperCase() === 'UCE'" >
    <ion-label position="floating" >Select subject</ion-label>
    <ion-select [(ngModel)]="selectedSubject.code" placeholder="Select subject" okText="Okay" cancelText="Dismiss">
      <ion-select-option *ngFor="let subject of uceElectives" value="{{subject.code}}" >{{subject.name}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="category.toUpperCase() === 'UCE'">
    <ion-label position="floating" >Select the grade attained</ion-label>
    <ion-select [(ngModel)]="selectedSubject.value" placeholder="Select grade">
      <ion-select-option *ngFor="let grade of uceGrades" value="{{grade.value}}"  >{{grade.name}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="category.toUpperCase() === 'UACE'" >
    <ion-label position="floating" >Select a subject</ion-label>
    <ion-select [(ngModel)]="selectedSubject.code" placeholder="Select subject" okText="Okay" cancelText="Dismiss">
      <ion-select-option *ngFor="let subject of uaceElectives" value="{{subject.code}}" >{{subject.name}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="category.toUpperCase() === 'UACE'">
    <ion-label position="floating" >Select the grade attained</ion-label>
    <ion-select [(ngModel)]="selectedSubject.value" placeholder="Select grade">
      <ion-select-option *ngFor="let grade of uaceGrades" value="{{grade.value}}"  >{{grade.name}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button (click)="addSubject()">Add Subject</ion-button>

</ion-content>
