<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>SRS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row class="ion-align-items-center">
      <!-- View Programs -->
      <ion-col>
        <ion-card routerLink="/programs" >
          <ion-card-header>
            <ion-card-title>Programs</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Explore available programs in the various universities
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Program Check-->
      <ion-col>
        <ion-card routerLink="/program_check" >
          <ion-card-header>
            <ion-card-title>Program Check</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Explore available programs in the various universities
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>

    <ion-row class="ion-align-items-center">
      <!-- Recommend Combination -->
      <ion-col>
        <ion-card (click)="navigateTo('/recommend')" >
          <ion-card-header>
            <ion-card-title>Recommend Combinations</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Find a combination that will enable you pursue your dream program at university
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Program Eligibility-->
      <ion-col>
        <ion-card routerLink="/programs" >
          <ion-card-header>
            <ion-card-title>Program Eligibility</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Explore available programs in the various universities
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>

  </ion-grid>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon md="caret-back" ios="chevron-back-circle-outline"></ion-icon>
    </ion-fab-button>
<!--    <ion-fab-button color="danger">-->
<!--      <ion-icon name="add"></ion-icon>-->
<!--    </ion-fab-button>-->
  </ion-fab>

</ion-content>
